<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateMenue</servlet-name>
        <servlet-class>com.UpdateMenue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>com.feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cass</servlet-name>
        <servlet-class>com.cass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMenue</servlet-name>
        <url-pattern>/UpdateMenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cass</servlet-name>
        <url-pattern>/cass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
